@import "variables.scss";

.page_about {
  height: fit-content;
  background-color: colorWhite();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

.about_title {
  @include tempBorder(black);
  @include responsiveSize(160, 60);
  display: grid;
  place-content: center;
  > span {
    color: colorBlack();
    font-family: "Montserrat-Bold";
    @include responsiveFontSize(30);
  }
}

.about_info {
  // @include tempBorder(black);
  @include responsiveSize(1000, 430);
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > .about_info_leftBox {
    // @include tempBorder(red);
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    > .about_info_leftBox_img {
      border-radius: 8%;
      width: fit-content;
      height: 60%;
    }
    > .about_info_leftBox_text {
      color: colorBlack();
      border-top: 2px solid colorBlack(50);
      height: 35%;
      font-family: "Pretendard-Regular";
      text-align: center;
      padding-top: 3%;
      padding-bottom: 3%;
      @include responsiveFontSize(17);
      > div {
        @include responsiveFontSize(20);
        font-family: "Pretendard-SemiBold";
        margin-bottom: 2%;
      }
    }
  }
  > .about_info_rightBox {
    // @include tempBorder(blue);
    width: 60%;
    height: 100%;
    > ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > li {
        // @include tempBorder(green);
        background-color: colorC(23);
        display: flex;
        width: 100%;
        height: 7%;
        flex-direction: row;
        > .about_info_rightBox_skills_name {
          // @include tempBorder(black);
          background-color: colorBlack(70);
          color: $colorWhite;
          width: 20%;
          height: 100%;
          font-family: "Montserrat-Medium";
          @include responsiveFontSize(14);
          @include center;
        }
        > .about_info_rightBox_skills_percent {
          background-color: colorA(80);
          height: 100%;
        }
        > .percent_90 {
          width: 72%;
        }
        > .percent_70 {
          width: 56%;
        }
        > .percent_50 {
          width: 40%;
        }
      }
    }
  }
}
