@import "variables.scss";

.page_blog {
  position: relative;
  background-color: colorWhite(100);
}

.blog_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: fit-content;
  > .blog_container_mainBox {
    @include responsiveSize(500, 80);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin-bottom: 2%;
    > a {
      @include responsiveFontSize(30);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: colorBlack(100);
      padding: 0 5%;
      width: fit-content;
      height: 100%;
      font-family: "Montserrat-Medium";
      > .blog_link_roll {
        @include responsiveSize(180, 80);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        > .blog_link_roll_text {
          position: absolute;
          right: 0;
          bottom: 50%;
          transform: translate(0, 50%);
          opacity: 1;
          transition: bottom 0.3s ease, opacity 0.3s ease;
          cursor: pointer;
        }
        > .blog_link_roll_icon {
          > img {
            @include responsiveSize(50, 50);
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: top 0.3s ease, opacity 0.3s ease;
          }
        }
      }
      &:hover {
        > .blog_link_roll {
          > .blog_link_roll_text {
            bottom: -10%;
            opacity: 0;
          }
          > .blog_link_roll_icon > img {
            top: 50%;
            opacity: 1;
          }
        }
      }
    }
  }
  > .blog_container_cardBox {
    @include responsiveSize(1000, 420);
    > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      height: 100%;
      opacity: 0;
      > .unhovered {
        opacity: 0.3;
      }
      > a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 22%;
        height: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
        &:hover > .blogCard_middleBox > h1 {
          color: colorB(100);
        }
        > .blogCard_topBox {
          width: 100%;
          height: fit-content;
          > img {
            width: 100%;
          }
        }
        > .blogCard_middleBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: end;
          height: 15%;
          margin-top: 5%;
          > h1 {
            //블로그 제목
            @include responsiveFontSize(22);
            color: colorBlack(60);
            width: 100%;
            transition: color 0.3s ease;
            text-align: center;
            font-family: "Pretendard-Bold";
          }
          // > span {
          //   //업데이트 날짜
          //   @include responsiveFontSize(13);
          //   font-family: "Pretendard-ExtraLight";
          // }
        }
        > .blogCard_line {
          border: 2px solid colorB(80);
          width: 20%;
          margin-bottom: 5%;
        }
        > .blogCard_bottomBox {
          height: 37%;
          > p {
            @include responsiveFontSize(16);
            //설명
            font-family: "Pretendard-Light";
          }
        }
      }
    }
  }
}
