@use 'fonts.scss';
@use 'hambutton.scss';
@use 'navigationbar.scss';
@use 'mainpage.scss';
@use 'aboutpage.scss';
@use 'workspage.scss';
@use 'var.scss';

button {
  all: unset;
  cursor: pointer;
}
span {
  all: unset;
}

a {
  all: unset;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  -ms-overflow-style: none; /* IE, MsEdge */
  scrollbar-width: none; /* Firefox */
}

@keyframes gradient-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page_index {
  width: var.$screenW;
  height: fit-content;
  position: relative;
  z-index: 0;
  overflow: auto;
}

#page_index_background {
  // background: black;
  width: max(var.$screen2H, var.$screen2W);
  height: max(var.$screen2H, var.$screen2W);
  animation: gradient-animation var.$duration linear infinite;
  background: linear-gradient(to right, #456173 0%, #b4b4b4 50%, #45735c 100%);
  position: fixed;
  top: min(-50vh, -50vw);
  left: min(-50vh, -50vw);
  z-index: -5;
}

.temppage_temp {
  width: var.$screenW;
  height: var.$screenH;
  outline: 1px solid red;
  background: rgba(255, 255, 255, 0.3);
}

.tempboxW {
  outline: 1px solid white;
}
.tempboxR {
  outline: 1px solid red;
}

.tempboxB {
  outline: 1px solid blue;
}
