@use "font.scss";
@use "noScroll.scss";
@use "home.scss";
@use "about.scss";
@use "projects.scss";
@use "navBar.scss";
@use "blog.scss";
@use "contact.scss";
@use "bottom.scss";
@use "refAnimations.scss";

@import "variables.scss";

.page_app {
  width: 100vw;
  height: fit-content;
}

.page_global_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 7%;
  padding-bottom: 7%;
}

.page_global_title {
  @include responsiveSize(160, 60);
  display: grid;
  place-content: center;
  opacity: 0;
  border-bottom: 3px solid colorBlack(70);
  overflow: hidden;
  > span {
    opacity: 0;
    @include responsiveFontSize(30);
    color: colorBlack();
    font-family: "Montserrat-Bold";
  }
}

.page_global_box {
  display: flex;
  margin-top: 4%;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
}

span {
  cursor: default;
}
