@use "font.scss";
@use "noScroll.scss";
@use "home.scss";
@use "about.scss";
@use "projects.scss";
@use "navBar.scss";
@use "blog.scss";
@use "others.scss";
@use "bottom.scss";
@use "refAnimations.scss";

@import "variables.scss";

.page_app {
  width: 100vw;
  height: fit-content;
}

.page_global_background {
  @include respond {
    padding-top: 15%;
    padding-bottom: 15vw;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 7%;
  padding-bottom: 7%;
}

.page_global_title {
  // @include responsiveSize(160, 60);
  width: fit-content;
  padding: 0 2%;
  @include respond {
    padding: 0 max(2vw, 2vh);
    width: fit-content;
    // @include tempBorder(red);
    // @include responsiveSize(220, 70);
    place-content: start center;
    padding-bottom: max(5vw, 4vh);
    border-bottom: max(0.35vw, 0.2vh) solid colorBlack(70);
  }
  display: grid;
  place-content: center;
  opacity: 0;
  border-bottom: 3px solid colorBlack(70);
  overflow: hidden;
  > span {
    @include responsiveFontSize(30);
    @include respond {
      font-size: max(3.5vw, 2.5vh);
    }
    color: colorBlack();
    opacity: 0;
    font-family: "Montserrat-Bold";
  }
}

.page_global_box {
  @include respond {
    margin-top: 7%;
  }
  display: flex;
  margin-top: 4%;
}

span {
  cursor: default;
}
