@import "variables.scss";

.page_home {
  @include full-screen;
  @include right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: colorBlack();
}

.home_canvas {
  @include full-screen;
  position: absolute;
  z-index: 1;
}

.home_infos {
  // @include screen(82, 50);
  @include responsiveSize(900, 400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 5%;
  // @include tempBorder(white);
}

.home_infos > h1 {
  @include responsiveFontSize(50);
  color: colorWhite();
  font-family: "Montserrat-Regular";
  text-align: end;
  margin-bottom: 5%;
  > strong {
    color: colorA();
  }
}

.home_infos > button {
  @include responsiveSize(180, 50);
  @include responsiveFontSize(30);
  @include center;
  @include tempBorder(colorWhite(70));
  color: colorWhite(70);
  width: 120px;
  height: 50px;
  font-family: "Montserrat-Light";
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  &:hover {
    color: colorWhite();
    background-color: colorB(50);
    border-color: colorB(50);
  }
}
