@use 'var.scss';

.page_main_background {
  width: max(var.$screen2H, var.$screen2W);
  height: max(var.$screen2H, var.$screen2W);
  animation: gradient-animation var.$duration linear infinite,
    fadeIn 1s ease-out forwards;
  background: linear-gradient(to right, #456173 0%, #b4b4b4 50%, #45735c 100%);
  position: absolute;
  top: min(-50vh, -50vw);
  left: min(-50vh, -50vw);
  z-index: -1;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#page_main {
  width: var.$screenW;
  height: var.$screenH;
  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;
}

@mixin adjustFontSize($containerWidth) {
  font-size: 80%;

  @media (min-width: $containerWidth) {
    font-size: 100%;
  }
}

.page_main_centercontent {
  width: var.$screenW;
  text-align: center;
  span {
    font-family: 'Montserrat-Bold';
    color: rgba(226, 226, 226, 0.589);
    white-space: nowrap;
  }
  overflow: hidden;
  position: relative;
}

.page_main_centercontent_text {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: popup 1s ease-out, colorToBlack 1s ease-out 1s;
}

@keyframes popup {
  0% {
    color: rgb(1, 71, 69);
    transform: translateY(100%);
  }
  100% {
    color: rgb(1, 71, 69);
    transform: translateY(0%);
  }
}

@keyframes colorToBlack {
  0% {
    color: rgb(1, 71, 69);
  }

  100% {
    color: rgba(226, 226, 226, 0.589);
  }
}
.page_main_scrolldown_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0%;
  //   outline: 1px solid red;
  height: fit;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page_main_scrolldown_text {
  font-family: 'Montserrat-Regular';
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  cursor: default;
  animation: scrolldowntextpop 2s infinite;
}

.page_main_scrolldown_arrow {
  //   transform: rotate(90deg);
  cursor: pointer;
  height: 50px;
}

.page_main_scrolldown_arrow span {
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.23);
  border-right: 3px solid rgba(255, 255, 255, 0.23);
  transform: rotate(45deg);
  margin: -10px;
  animation: scrolldownanimate 2s infinite;
}

.page_main_scrolldown_arrow span:nth-child(2) {
  animation-delay: -0.15s;
}

.page_main_scrolldown_arrow span:nth-child(3) {
  animation-delay: -0.3s;
}

@keyframes scrolldowntextpop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrolldownanimate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(40px, 40px);
  }
}
