@import "variables.scss";

.page_navbar {
  @include left;
  position: absolute;
  top: 100vh;
  z-index: 100;
  background-color: colorBlack(90);
  box-sizing: content-box;
  width: 100%;
  height: max(7vh, 30px);
  border-top: 3px solid colorA(90);
}

@keyframes navbarSlide {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.navbar_sticky {
  position: fixed !important;
  top: 0 !important;
  animation: navbarSlide 0.3s ease-out;
}

.navbar_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 90%;
  // @include tempBorder;

  > li {
    display: grid;
    color: colorWhite(70);
    // @include tempBorder(red);
    width: 10%;
    height: 70%;
    place-content: center;
    font-family: "Montserrat-Medium";
    cursor: pointer;

    transition: color 0.3s;

    &:hover {
      color: colorWhite();
    }
  }
  > .navbar_li_active {
    color: colorA();
  }
}
