@import "variables.scss";

.page_others {
  position: relative;
  background: colorBlack(100);
  > .page_others_topTriangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // border-left: 50vw solid transparent;
    div {
      @include respond {
        border-top: 6vh solid colorWhite(100);
      }
      width: 0;
      height: 0;
      border-top: 12vh solid colorWhite(100);
    }
    > .topTriangle-left {
      background-color: rgba(0, 0, 0, 0.5);
      border-left: 25vw solid transparent;
    }
    > .topTriangle-right {
      background-color: rgba(0, 0, 0, 0.5);
      border-right: 25vw solid transparent;
    }
  }
  .page_others_title {
    border-color: colorWhite(100);
    margin-top: 5vw;
    > span {
      color: colorWhite(100);
    }
  }
}

.page_others_container {
  @include responsiveSize(800, 250);
  @include respond {
    height: 35vw;
    width: 90vw;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  > div {
    @include responsiveFontSize(30);
    @include respond {
      @include responsiveFontSize(25);
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    opacity: 0;
    &:hover {
      :last-child {
        color: colorWhite(100);
      }
      .others_category {
        color: colorB(100);
      }
    }
    .others_category {
      //   margin: 0 4%;
      color: colorB(50);
      width: 28%;
      // width: fit-content;
      text-align: center;
      font-family: "Montserrat-Regular";
      border-left: 2px solid colorB(50);
      border-right: 2px solid colorB(50);
      transition: color 0.3s ease;
    }
    :last-child {
      @include responsiveFontSize(28);
      @include respond {
        @include responsiveFontSize(24);
      }
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      color: colorWhite(70);
      width: 68%;
      transition: color 0.5s ease;
      font-family: "Montserrat-Light";
      > .others_icon {
        @include responsiveSize(28, 28);
        @include respond {
          margin-left: 2vw;
        }
        flex-shrink: 0;
        margin-left: 1rem;
      }
    }
  }
}
