@import "variables.scss";

.carousel_button_container {
  @include respond {
    width: 95vw;
    height: 0;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    z-index: 10;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;
  background-color: colorWhite(100);
  border: 2.5px solid colorBlack(80);
  border-radius: 300px;
  width: 40%;
  height: 10%;
  transform: translate(-50%, 50%);
  transition: box-shadow 0.2s ease, scale 0.2s ease;
  .carousel_button {
    @include responsiveSize(60, 30);
    @include respond {
      width: max(4vw, 3vh);
      height: max(14vw, 10vh);
      position: absolute;
    }
    display: grid;
    color: colorWhite(80);
    background-color: colorBlack(70);
    border: 2.5px solid colroBlack(100);
    border-radius: 300px;
    place-content: center;
    scale: 0.9;
    transition: background-color 0.3s ease, scale 0.3s ease;
    > .carousel_button_icon {
      @include responsiveFontSize(20);
      @include respond {
        font-size: max(3.3vw, 2.5vh);
      }
    }
    &:hover {
      background-color: colorA(50);
      scale: 1;
    }
  }

  .carousel_button_previous {
    left: 0;
  }
  .carousel_button_next {
    right: 0;
  }

  .carousel_button_imageIndex {
    @include respond {
      visibility: hidden;
    }
    font-family: "Montserrat-Light";
    width: 20%;
    height: 100%;
    display: grid;
    place-content: center;
    @include tempBorder;
    font-size: max(2vw, 1.3vh);
  }
}

.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  .carousel_image {
    height: 100%;
    object-fit: contain;
  }
  /*  */
  .ping {
    --uib-size: 50px;
    --uib-speed: 1s;
    --uib-color: #ffffff;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .ping::before,
  .ping::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse7132 var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
  }

  .ping::after {
    animation-delay: calc(var(--uib-speed) / -2);
  }

  @keyframes pulse7132 {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
