@import "variables.scss";

.carousel_buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, -50%);
  > button {
    @include respond {
      position: relative;
      width: 20%;
      > .button_icon_left {
        bottom: 0;
        left: 0;
      }
      > .button_icon_right {
        bottom: 0;
        right: 0;
      }
    }
    display: grid;
    position: relative;
    width: 9%;
    height: 100%;
    place-content: center;
    > .carousel_button_icon {
      @include responsiveFontSize(40);
      @include respond {
        position: absolute;
        color: colorWhite(100);
        background-color: colorBlack(30);
      }
      z-index: 11;
      color: colorWhite(50);
      transition: color 0.3s ease-in-out;
    }
    > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    > .carousel_button_previous {
      @include respond {
        background-image: linear-gradient(to right, colorBlack(40), colorBlack(0));
      }
      background-image: linear-gradient(to right, colorBlack(60), colorBlack(0));
    }
    > .carousel_button_next {
      @include respond {
        background-image: linear-gradient(to left, colorBlack(40), colorBlack(0));
      }
      background-image: linear-gradient(to left, colorBlack(60), colorBlack(0));
    }

    &:hover {
      > div {
        opacity: 1;
      }
      > .carousel_button_icon {
        color: colorWhite(100);
      }
    }
  }
}
.carousel_container {
  @keyframes lazyMoving {
    50% {
      width: 100%;
    }

    100% {
      right: 0;
      left: unset;
      width: 0;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  .carousel_image {
    object-fit: contain;
    height: 100%;
  }
  .lazyLoader {
    --height-of-loader: 4px;
    --loader-color: colorA(100);
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 130px;
    height: var(--height-of-loader);
  }

  .lazyLoader::before {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--loader-color);
    border-radius: 30px;
    width: 0%;
    height: 100%;
    content: "";
    animation: lazyMoving 1s ease-in-out infinite;
  }
}
