@import "variables.scss";
@import "projectImageCarousel.scss";

.modal_wholePage {
  @include respond {
    height: 100vh;
  }
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: colorBlack(40);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  place-content: center;
  > .modal_wallPop_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    width: 40vw;
    height: 80vh;
    transform: translateY(-50%);
    > .modal_wallPop_topBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: colorBlack(90);
      border: 2.5px solid colorWhite(100);
      width: 100%;
      height: 20%;
      border-top-left-radius: 30px;
      border-bottom: 3px solid colorA(100);
      border-right: none;
      > .modal_wallPop_topBox_textBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        position: relative;
        width: 85%;
        height: 80%;
        margin-left: 5%;
        > .openedProject_title {
          @include responsiveFontSize(40);
          color: colorWhite(90);
          font-family: "Pretendard-Bold";
        }
        > .openedProject_explain_short {
          @include responsiveFontSize(15);
          color: colorWhite(60);
          font-family: "Pretendard-Medium";
        }
      }
      > a {
        @include responsiveFontSize(50);
        position: absolute;
        z-index: 5;
        color: white;
        top: 50%;
        right: 0;
        opacity: 0.6;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    > .modal_wallPop_bottomBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: rgb(233, 233, 233);
      border: 2.5px solid colorWhite(100);
      width: 100%;
      height: 80%;
      border-top: none;
      border-bottom-left-radius: 30px;
      border-right: none;
      > .modal_wallPop_bottomBox_textBox {
        width: 85%;
        height: 90%;
        margin-left: 5%;
        .modal_contents_bigTitle {
          @include responsiveFontSize(26);
          font-family: "Pretendard-Bold";
          margin-bottom: 2.5%;
        }
        .modal_contents_midTitle {
          @include responsiveFontSize(22);
          font-family: "Pretendard-SemiBold";
          margin-bottom: 2%;
          margin-left: 2%;
          list-style: decimal;
        }
        .modal_contents_value {
          @include responsiveFontSize(18);
          margin-bottom: 2%;
          margin-left: 2%;
          font-family: "Pretendard-Regular";
          list-style: disc;
        }
      }
      > .modal_wallPop_sideBar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 5;
        background-color: colorBlack(100);
        border: 2.5px solid colorWhite(100);
        border-radius: 300px;
        padding: 3% 0;
        width: 10%;
        height: 80%;
        transform: translate(-50%, -50%);
        box-shadow: colorBlack(30) 5px 5px 5px;
        transition: box-shadow 0.2s ease;
        &:hover {
          box-shadow: colorBlack(50) 7px 5px 7px;
        }
        > button {
          @include responsiveSize(40, 40);
          display: grid;
          color: colorA(50);
          border-radius: 500px;
          place-content: center;
          transition: color 0.3s ease;
          > .sidebar_button_icon {
            @include responsiveFontSize(40);
          }
          &:hover {
            color: colorA(100);
          }
        }
      }
    }
  }

  > .modal_imageCarousel_container {
    @include tempBorder(black);
    display: grid;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 0;
    width: 60vw;
    height: 80vh;
    transform: translateY(-50%);
    place-content: center;
    > .modal_imageCarousel {
      @include tempBorder(black);
      width: 40vw;
      height: 80vh;
    }
  }
}

.popUp_wholePage {
  opacity: 1;
  pointer-events: all;
  > .modal_container {
    transform: scale(1);
  }
}
