@import "variables.scss";
@import "projectModal.scss";

.page_projects {
  position: relative;
  background-color: colorC(25);
}

.projects_container {
  //   @include responsiveSize(1100, 500);
  @include responsiveSize(1200, 400);
  @include respond {
    width: 80vw;
    height: fit-content;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  > .projects_container_bottomBox {
    @include respond {
      height: fit-content;
    }
    width: 100%;
    height: fit-content;
    > ul {
      @include respond {
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      position: relative;
      width: 100%;
      height: fit-content;
      > li {
        @include responsiveSize(400, 300);
        @include respond {
          width: 60vw;
          height: 45vw;
          margin-bottom: 3%;
          border-radius: 8%;
        }
        position: relative;
        background-color: white;
        overflow: hidden;
        opacity: 0;
        &:hover {
          > .projects_imgBox {
            opacity: 0;
          }
          .projects_summary_topBox {
            top: 0 !important;
            opacity: 1 !important;
          }
          .projects_summary_bottomBox {
            bottom: 0 !important;
            opacity: 1 !important;
          }
        }
        > .projects_imgBox {
          z-index: 0;
          background-color: colorB(40);
          width: 100%;
          height: 100%;
          transition: opacity 0.3s ease-in-out;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        > .projects_summary {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          > .projects_summary_topBox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -20%;
            left: 0;
            width: 100%;
            height: 50%;
            opacity: 0;
            transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
            > .projects_summary_title {
              @include responsiveFontSize(30);
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 60%;
              margin-top: 10%;
              font-family: "Pretendard-Bold";
              > span {
                @include responsiveFontSize(18);
                color: $colorA;
                font-family: "Pretendard-Regular";
              }
            }
          }
          > .projects_summary_bottomBox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            position: absolute;
            bottom: -20%;
            left: 0;
            width: 100%;
            height: 50%;
            opacity: 0;
            transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
            > .projects_summary_button {
              @include responsiveFontSize(20);
              @include respond {
                border: 1px solid $colorA;
              }
              display: grid;
              border: 2px solid $colorA;
              width: 33%;
              height: 28%;
              font-family: "Montserrat-Regular";
              place-content: center;
              margin-top: 10%;
              transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

              &:hover {
                color: white;
                background-color: $colorA;
              }
            }
          }
        }
      }
    }
  }
}
