@import "variables.scss";
@import "projectImageCarousel.scss";

.modal_wholePage {
  @include respond {
    height: 100vh;
  }
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: colorBlack(40);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  place-content: center;
  > .modal_wallPop_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    width: 40%;
    height: 80%;
    transform: translate(50%, -50%);
    transition: transform 0.3s ease;
    > .modal_wallPop_topBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: colorBlack(90);
      border: 2.5px solid colorWhite(100);
      width: 100%;
      height: 20%;
      border-top-left-radius: 30px;
      border-bottom: 3px solid colorA(100);
      border-right: none;
      > .modal_wallPop_topBox_textBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        position: relative;
        width: 85%;
        height: 80%;
        margin-left: 5%;
        > .openedProject_title {
          @include responsiveFontSize(40);
          color: colorWhite(100);
          font-family: "Pretendard-Bold";
        }
        > .openedProject_explain_short {
          @include responsiveFontSize(15);
          color: colorWhite(70);
          font-family: "Pretendard-Medium";
        }
      }
      > a {
        @include responsiveFontSize(50);
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 5;
        color: white;
        opacity: 0.6;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    > .modal_wallPop_bottomBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: rgb(233, 233, 233);
      border: 2.5px solid colorWhite(100);
      width: 100%;
      height: 80%;
      border-top: none;
      border-bottom-left-radius: 30px;
      border-right: none;
      > .modal_wallPop_bottomBox_textBox {
        color: colorBlack(100);
        width: 85%;
        height: 90%;
        margin-left: 5%;
        .hideContents_poped {
          opacity: 0;
        }
        > div > div,
        > li,
        > li > li {
          transition: opacity 0.3s ease-in-out;
        }
        .modal_contents_bigTitle {
          @include responsiveFontSize(26);
          font-family: "Pretendard-Bold";
          padding-bottom: 2%;
          margin-bottom: 2%;
          border-bottom: 2px dashed colorC(100);
        }
        .modal_contents_midTitle {
          @include responsiveFontSize(22);
          font-family: "Pretendard-SemiBold";
          margin-bottom: 2.5%;
          list-style: decimal;
          > .modal_contents_value {
            margin-top: 0.5%;
            margin-left: 5%;
            list-style: none;
          }
        }
        .modal_contents_value {
          @include responsiveFontSize(18);
          margin-bottom: 2%;
          list-style: decimal;
          font-family: "Pretendard-Regular";
        }
      }
      > .modal_wallPop_sideBar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 5;
        background-color: colorWhite(100);
        border: 2.5px solid colorBlack(100);
        border-radius: 300px;
        padding: 3% 0;
        width: 10%;
        height: 80%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 5px 0px colorBlack(50);
        scale: 0.99;
        transition: box-shadow 0.2s ease, scale 0.2s ease;
        &:hover {
          scale: 1;
          box-shadow: 2px 2px 5px 2px colorBlack(50);
        }
        > button {
          @include responsiveSize(40, 40);
          display: grid;
          color: colorBlack(70);
          border-radius: 500px;
          place-content: center;
          scale: 0.8;
          transition: color 0.3s ease, scale 0.3s ease;
          > .sidebar_button_icon {
            @include responsiveFontSize(40);
          }
          &:hover {
            color: colorA(70);
            scale: 1;
          }
        }
      }
    }
  }

  > .modal_imageCarousel_container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 0;
    width: 60%;
    height: 80%;
    transform: translate(0%, -50%);
    scale: 0.5;
    transition: scale 0.3s ease;
    place-content: center;
    > .modal_imageCarousel {
      position: relative;
      @include responsiveSize(720, 480);
      background-color: colorBlack(40);
      border: 3px solid colorBlack(30);
      border-radius: 15px;
    }
  }
}

.popUp_wholePage {
  opacity: 1;
  pointer-events: all;
  > .modal_wallPop_container {
    transform: translate(0, -50%);
  }
  > .modal_imageCarousel_container {
    scale: 1;
  }
}
