$screenH: 100vh;
$screenW: 100vw;
$screenH: 100vh;
$screenW: 100vw;
$screen2H: 200vh;
$screen2W: 200vw;
$duration: 5s;
$navigationbarH: 60px;

@mixin adjustScreenH($input) {
  height: (100 * $input) vh;
}
@mixin adustSscreenW($input) {
  width: (100 * $input) vw;
}

@mixin WH($inputW, $inputH) {
  width: (100 * $inputW) vw;
  height: (100 * $inputH) vh;
}

@mixin adjustFontSizeMax($fontSizeRatio) {
  $fixedFontSize: 1300 * $fontSizeRatio;
  $responsiveFontSize: 100 * $fontSizeRatio;

  @media screen and (min-width: 900px) and (max-width: 1300px) {
    font-size: #{$fixedFontSize}px;
  }

  @media screen and (min-width: 1301px) {
    font-size: calc(#{$responsiveFontSize}vw);
  }
}

@mixin adjustFontSizeMin($fontSizeRatio) {
  @media screen and (max-width: 899px) {
    font-size: calc(#{100 * $fontSizeRatio}vw);
  }
}

@mixin tempborder($color) {
  outline: 1px solid $color;
}
