@use "sass:math";
// $colorBlack: #242220;
// $colorWhite: #cfc1b2;
// $colorA: #fdc137;
// $colorB: #34ab65;
// $colorC: #0c4d24;

$colorBlack: #0d0d0d;
$colorWhite: #f2f2f2;
$colorA: #d9a91a;
$colorB: #7eadbf;
$colorC: #a6a08d;

@function colorBlack($opacity: 100) {
  @return rgba($colorBlack, $opacity/100);
}
@function colorWhite($opacity: 100) {
  @return rgba($colorWhite, $opacity/100);
}
@function colorA($opacity: 100) {
  @return rgba($colorA, $opacity/100);
}
@function colorB($opacity: 100) {
  @return rgba($colorB, $opacity/100);
}
@function colorC($opacity: 100) {
  @return rgba($colorC, $opacity/100);
}

/* 
#171B26
#1C3659
#0798F2
#F2C879
#D9C49C
 */

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

// @mixin screen($width-percentage, $height-percentage) {
//   width: $width-percentage * 1vw;
//   height: $height-percentage * 1vh;
// }

@mixin responsiveSize($fullWidth, $fullHeight) {
  // 600px 이하일 때
  @media (max-width: 899px) {
    width: #{$fullWidth/2}px;
    height: #{$fullHeight/2}px;
  }

  // 1300px 이상일 때
  @media (min-width: 1300px) {
    width: #{$fullWidth}px;
    height: #{$fullHeight}px;
  }

  // 600px과 1300px 사이일 때
  @media (min-width: 900px) and (max-width: 1299px) {
    width: calc(#{$fullWidth/2}px + #{$fullWidth/2}* ((100vw - 900px) / 399));
    height: calc(#{$fullHeight/2}px + #{$fullHeight/2}* ((100vw - 900px) / 399));
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin right {
  display: flex;
  align-items: center;
  justify-content: end;
}

@mixin left {
  display: flex;
  align-items: center;
  justify-content: start;
}

@mixin tempBorder($color: white) {
  border: 1px solid $color;
}

@mixin responsiveFontSize($fullFontSize) {
  @media (max-width: 899px) {
    font-size: #{$fullFontSize / 2}px;
  }

  @media (min-width: 1300px) {
    font-size: #{$fullFontSize}px;
  }

  @media (min-width: 900px) and (max-width: 1299px) {
    font-size: calc(#{$fullFontSize/2}px + #{$fullFontSize/2} * ((100vw - 900px) / 399));
  }
}
