$colorBlack: rgb(17, 17, 17);
$colorGray: rgb(47, 47, 47);
$colorWhite: rgb(246, 246, 246);
$colorYellow: rgb(255, 203, 116);
$colorSand: rgb(217, 196, 156);
$colorDeepNavy: rgba(23, 27, 38);
$colorNavy: rgb(28, 54, 89);
$colorBlue: rgb(7, 152, 242);

@function colorBlack($opacity: 100) {
  @return rgba($colorBlack, $opacity/100);
}
@function colorGray($opacity: 100) {
  @return rgba($colorGray, $opacity/100);
}
@function colorWhite($opacity: 100) {
  @return rgba($colorWhite, $opacity/100);
}
@function colorYellow($opacity: 100) {
  @return rgba($colorYellow, $opacity/100);
}
@function colorSand($opacity: 100) {
  @return rgba($colorSand, $opacity/100);
}
@function colorDeepNavy($opacity: 100) {
  @return rgba($colorDeepNavy, $opacity/100);
}
@function colorNavy($opacity: 100) {
  @return rgba($colorNavy, $opacity/100);
}
@function colorBlue($opacity: 100) {
  @return rgba($colorBlue, $opacity/100);
}

/* 
#171B26
#1C3659
#0798F2
#F2C879
#D9C49C
 */

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

// @mixin screen($width-percentage, $height-percentage) {
//   width: $width-percentage * 1vw;
//   height: $height-percentage * 1vh;
// }

@mixin responsiveSize($minWidth, $maxWidth, $minHeight, $maxHeight) {
  // 600px 이하일 때
  @media (max-width: 899px) {
    width: #{$minWidth}px;
    height: #{$minHeight}px;
  }

  // 1300px 이상일 때
  @media (min-width: 1300px) {
    width: #{$maxWidth}px;
    height: #{$maxHeight}px;
  }

  // 600px과 1300px 사이일 때
  @media (min-width: 900px) and (max-width: 1299px) {
    $widDiff: $maxWidth - $minWidth;
    $heiDiff: $maxHeight - $minHeight;
    width: calc(#{$minWidth}px + #{$widDiff}* ((100vw - 900px) / 399));
    height: calc(#{$minHeight}px + #{$heiDiff}* ((100vw - 900px) / 399));
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin right {
  display: flex;
  align-items: center;
  justify-content: end;
}

@mixin left {
  display: flex;
  align-items: center;
  justify-content: start;
}

@mixin tempBorder($color: white) {
  border: 1px solid $color;
}

@mixin responsiveFontSize($minFontSize, $maxFontSize) {
  @media (max-width: 899px) {
    font-size: #{$minFontSize}px;
  }

  @media (min-width: 1300px) {
    font-size: #{$maxFontSize}px;
  }

  @media (min-width: 900px) and (max-width: 1299px) {
    // 최소 폰트 사이즈와 최대 폰트 사이즈 사이의 차이를 계산
    $sizeDifference: $maxFontSize - $minFontSize;

    // 뷰포트 폭에 따른 폰트 사이즈 조정 계산
    // 900px 에서는 최소 폰트 사이즈, 1299px 에서는 최대 폰트 사이즈가 되도록 설정
    font-size: calc(#{$minFontSize}px + #{$sizeDifference} * ((100vw - 900px) / 399));
  }
}
