// $colorBlack: #242220;
// $colorWhite: #cfc1b2;
// $colorA: #fdc137;
// $colorB: #34ab65;
// $colorC: #0c4d24;

$colorBlack: #0d0d0d;
$colorWhite: #f2f2f2;
$colorA: #d9a91a;
$colorB: #7eadbf;
$colorC: #a6a08d;

@function colorBlack($opacity: 100) {
  @return rgba($colorBlack, $opacity/100);
}
@function colorWhite($opacity: 100) {
  @return rgba($colorWhite, $opacity/100);
}
@function colorA($opacity: 100) {
  @return rgba($colorA, $opacity/100);
}
@function colorB($opacity: 100) {
  @return rgba($colorB, $opacity/100);
}
@function colorC($opacity: 100) {
  @return rgba($colorC, $opacity/100);
}

/* 
#171B26
#1C3659
#0798F2
#F2C879
#D9C49C
 */

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

// @mixin screen($width-percentage, $height-percentage) {
//   width: $width-percentage * 1vw;
//   height: $height-percentage * 1vh;
// }

@mixin responsiveSize($minWidth, $maxWidth, $minHeight, $maxHeight) {
  // 600px 이하일 때
  @media (max-width: 899px) {
    width: #{$minWidth}px;
    height: #{$minHeight}px;
  }

  // 1300px 이상일 때
  @media (min-width: 1300px) {
    width: #{$maxWidth}px;
    height: #{$maxHeight}px;
  }

  // 600px과 1300px 사이일 때
  @media (min-width: 900px) and (max-width: 1299px) {
    $widDiff: $maxWidth - $minWidth;
    $heiDiff: $maxHeight - $minHeight;
    width: calc(#{$minWidth}px + #{$widDiff}* ((100vw - 900px) / 399));
    height: calc(#{$minHeight}px + #{$heiDiff}* ((100vw - 900px) / 399));
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin right {
  display: flex;
  align-items: center;
  justify-content: end;
}

@mixin left {
  display: flex;
  align-items: center;
  justify-content: start;
}

@mixin tempBorder($color: white) {
  border: 1px solid $color;
}

@mixin responsiveFontSize($minFontSize, $maxFontSize) {
  @media (max-width: 899px) {
    font-size: #{$minFontSize}px;
  }

  @media (min-width: 1300px) {
    font-size: #{$maxFontSize}px;
  }

  @media (min-width: 900px) and (max-width: 1299px) {
    // 최소 폰트 사이즈와 최대 폰트 사이즈 사이의 차이를 계산
    $sizeDifference: $maxFontSize - $minFontSize;

    // 뷰포트 폭에 따른 폰트 사이즈 조정 계산
    // 900px 에서는 최소 폰트 사이즈, 1299px 에서는 최대 폰트 사이즈가 되도록 설정
    font-size: calc(#{$minFontSize}px + #{$sizeDifference} * ((100vw - 900px) / 399));
  }
}
