@use "var.scss";

#page_works {
  width: var.$screenW;
  height: var.$screenH;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works_container {
  width: var.$screenW;
  height: 75%;
  margin-top: 3%;
  // @include var.tempborder(red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .works_top_box {
    height: 0%;
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .works_top_text {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
      color: white;
      font-family: "Montserrat-Medium";
      @include var.adjustFontSizeMax(0.03);
      // box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
      // padding: 0.5% 1%;
      // border-radius: 1vw;
    }
  }

  .works_bottom_box {
    z-index: 0;
    width: 100%;
    aspect-ratio: 3/1;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 3% 8%;

    .bottom_box_flows {
      width: 100%;
      aspect-ratio: 3/1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;
      // box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.4);

      > div {
        // outline: 1px solid rgb(255, 255, 255);
        text-align: start;
      }

      * {
        transition: all 0.3s ease;
      }
      .work_box {
        // margin: 3px;
        background-color: rgba(36, 36, 36, 0.404);
        // outline: 1px solid rgb(255, 255, 255);

        // background: linear-gradient(to right top, rgba(80, 80, 80, 0.5) 0%, black 30%, black);

        position: relative;
        cursor: pointer;
        span {
          color: white;
          font-family: "Montserrat-Regular", "Pretendard-Regular";
        }
        overflow: hidden;
      }

      .work_box:hover {
        background-color: rgba(80, 80, 80, 0.288);
        backdrop-filter: blur(3px);

        .work_text_box {
          z-index: 0;
          opacity: 50%;
          left: 0;
          filter: blur(5px);
        }

        .work_image_box {
          z-index: 1;
          opacity: 100%;
          width: 60%;
          filter: brightness(95%);
        }
      }

      .work_box_web {
        background-color: rgba(36, 36, 36, 0.404);
        // background: linear-gradient(to left bottom, rgba(80, 80, 80, 0.5) 0%, black 30%, black);

        position: relative;
        cursor: pointer;
        span {
          color: white;
          font-family: "Montserrat-Regular", "Pretendard-Regular";
        }
        overflow: hidden;
      }

      .work_box_web:hover {
        background-color: rgba(80, 80, 80, 0.288);
        backdrop-filter: blur(3px);
        // background: linear-gradient(to left bottom, rgba(80, 80, 80, 0.7) 0%, black 80%, black);

        .work_text_box {
          z-index: 0;
          opacity: 50%;
          left: 0;
          filter: blur(5px);
        }

        .work_image_box {
          z-index: 1;
          opacity: 100%;
          width: 60%;
          filter: brightness(95%);
        }
      }

      .work_box_mobile {
        background-color: rgba(36, 36, 36, 0.404);
        // background: linear-gradient(to right bottom, rgba(80, 80, 80, 0.5) 0%, black 30%, black);

        position: relative;
        cursor: pointer;
        span {
          color: white;
          font-family: "Pretendard-Regular", "Montserrat-Regular";
        }
        overflow: hidden;
      }
      .work_box_mobile:hover {
        background-color: rgba(80, 80, 80, 0.288);
        backdrop-filter: blur(3px);

        // background: linear-gradient(to right bottom, rgba(80, 80, 80, 0.7) 0%, black 80%, black);

        .work_text_box {
          z-index: 0;
          opacity: 50%;
          top: 0;
          filter: blur(5px);
        }

        .work_image_box {
          z-index: 1;
          opacity: 80%;
          width: 65%;
          filter: brightness(95%);
        }
      }
    }
  }
}
.work_box {
  .work_text_box {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // // @include var.tempborder(white);
  }

  .work_image_box {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 100%;
    width: 50%;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    z-index: 0;
    opacity: 30%;
    filter: blur(2px);

    img {
      width: 100%;
    }
  }
}

.work_box_web {
  .work_text_box {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // @include var.tempborder(white);
  }

  .work_image_box {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 100%;
    width: 50%;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    z-index: 0;
    opacity: 30%;
    filter: blur(2px);
    img {
      width: 100%;
    }
  }
}
.work_box_mobile {
  .work_text_box {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // @include var.tempborder(white);
  }

  .work_image_box {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 55%;
    display: grid;
    place-content: center;
    z-index: 0;
    opacity: 30%;
    filter: blur(2px);

    img {
      width: 100%;
    }
  }
}

#work_box_Worldy {
  width: 49.5%;
  height: 100%; // aspect-ratio: 6/4;
  // @include var.tempborder(red);
  @include var.adjustFontSizeMax(0.054);
}

#work_box_RendezBoo {
  width: 30%;
  height: 50%;
  @include var.adjustFontSizeMax(0.027);
}

#work_box_Olds {
  position: relative;
  display: flex;
  height: 49.3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // outline: 1px solid red;
  #work_box_MyHome {
    // @include var.tempborder(green);
    height: 100%;
    width: 50%;
    @include var.adjustFontSizeMax(0.01);
  }
  #work_box_More {
    // @include var.tempborder(white);
    height: 100%;

    // width: 50%;
    width: 100%;
    display: grid;
    place-content: center;
    @include var.adjustFontSizeMax(0.03);
    span {
      all: none;
      visibility: hidden;
    }
  }

  #work_box_More:hover span {
    all: none;
    visibility: visible;
  }
}

#work_box_Eeum {
  width: 20%;
  height: 100%;

  // @include var.tempborder(blue);
  @include var.adjustFontSizeMax(0.035);
}

#works_modal_container {
  transition: none;
  width: var.$screenW;
  height: 100%;
  backdrop-filter: blur(7px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works_modal_box {
  width: 40%;
  aspect-ratio: 1/1;
  position: relative;
}

.works_modal_top {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.works_modal_3D {
  z-index: 1;
  height: 220%;
  transform: translateY(-10%);
}

.works_modal_bottom {
  width: 100%;
  height: 92%;
  background: rgba(0, 0, 0, 0.548);
  outline: 0.2vw solid rgba(49, 49, 49, 0.5);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 6%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.works_modal_NPbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  button {
    width: 10%;
    height: 80%;
    text-align: center;
    font-family: "Pretendard-Regular";
    color: rgba(255, 255, 255, 0.314);
    @include var.adjustFontSizeMax(0.01);
  }
  button:hover {
    color: rgba(255, 255, 255, 0.714);
  }
}

.works_modal_bottom_box {
  width: 100%;
  height: 90%;
  // @include var.tempborder(white);
  background: rgba(54, 54, 54, 0.253);
  backdrop-filter: brightness(0%) opacity(100%) blur(100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.works_modal_content {
  width: 100%;
  height: 100%;
}

.works_modal_menu_container {
  transition: all 0.1s ease;
  box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.3);

  z-index: 2;
  width: 65%;
  height: 6%;
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translateX(-50%);
  outline: 0.13vw solid rgb(61, 61, 61, 0.3);
  border-radius: 100vw;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(92, 92, 92, 0.555);
  backdrop-filter: blur(100px);
  button {
    z-index: 2;
    color: rgba(160, 160, 160, 0.747);
    font-family: "Pretendard-Light";
    width: 15%;
    height: 60%;
    border-radius: 0.8vw;
    // @include var.tempborder(white);
    text-align: center;
    @include var.adjustFontSizeMax(0.009);
    transition: all 0.2s ease;
  }
  button:hover {
    width: 17%;
    height: 62%;
    font-family: "Pretendard-Regular";
    @include var.adjustFontSizeMax(0.011);
    color: rgb(255, 255, 255, 0.6) !important;
  }
  .activated_button {
    width: 17%;
    height: 62%;
    font-family: "Pretendard-Medium" !important;
    @include var.adjustFontSizeMax(0.011);
    color: rgba(211, 211, 211, 0.9) !important;
  }
  .close_button:hover {
    color: rgba(109, 109, 109, 0.9) !important;
  }
}
.works_modal_menu_container:hover {
  background: rgba(65, 65, 65, 0.575);
  button {
    color: rgba(201, 200, 200, 0.7);
  }
}
.modal_content_common_container {
  padding: 5% 10%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.modal_content_1_container {
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  * {
    transition: all 0.5s ease;
  }
  .modal_1_logo {
    height: 40%;
    width: 100%;
    // @include var.tempborder(white);
    position: relative;
    margin-bottom: 5%;

    .logo_text {
      width: 100%;
      height: 12%;
      font-family: "Pretendard-Medium";
      color: rgba(180, 180, 180);
      @include var.adjustFontSizeMax(0.012);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .logo_img_left {
      position: absolute;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
      max-width: 45%;
      max-height: 88%;
      object-fit: contain;
    }
    .logo_img_right {
      position: absolute;
      top: 17%;
      right: 0;
      max-width: 45%;
      max-height: 70%;
      opacity: 40%;
      object-fit: contain;
      cursor: pointer;
      // outline: 0.2vw dotted rgba(255, 255, 255, 0.3);
      background: rgba(90, 90, 90, 0.5);
      padding: 1% 1%;
      border-radius: 0.5vw;
    }
    .logo_img_right:hover {
      top: 17%;
      padding: 0;
      opacity: 80%;
      background: none;
    }

    .logo_img_right_clicked {
      background: none;
      position: absolute;
      opacity: 100%;
      top: 5%;
      right: 0;
      outline: none;
      max-width: 100%;
      max-height: 250%;
      object-fit: cover;
      z-index: 5;
      padding: 0 15%;
      cursor: pointer;
    }
    .logo_img_right_clicked:hover {
      opacity: 100%;
      padding: 0 15%;
      cursor: pointer;
    }
  }
  .blured {
    opacity: 10%;
  }

  .modal_1_outline {
    height: 25%;
    width: 100%;
  }

  .modal_1_period {
    height: 25%;
    width: 100%;
  }
  .title {
    font-family: "Pretendard-Medium";
    color: rgba(180, 180, 180);
    @include var.adjustFontSizeMax(0.012);
    margin-bottom: 2%;
  }
  .content {
    font-family: "Montserrat-Regular";
    color: white;
    @include var.adjustFontSizeMax(0.02);
  }
}

.modal_content_2_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .title {
    font-family: "Pretendard-Regular";
    color: rgb(199, 199, 199);
    @include var.adjustFontSizeMax(0.016);
    margin-bottom: 2%;
  }
  .content {
    font-family: "Pretendard-Regular";
    color: rgb(145, 145, 145);
    @include var.adjustFontSizeMax(0.012);
    overflow-y: auto;
    background: rgba(50, 50, 50, 0.2);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2%;
    line-height: 150%;

    br {
      display: block; /* 블록 요소로 변경 */
      margin-top: 3%; /* 위쪽 여백 조정 */
      content: ""; /* 가상 요소 추가 */
    }
  }
  .modal_2_subject {
    height: 30%;
    width: 100%;
    margin-bottom: 3%;
  }

  .modal_2_explain {
    height: 70%;
    width: 100%;
  }
}

.modal_content_3_container {
  .modal_3_resp {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 3%;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      font-family: "Pretendard-Regular";
      color: rgb(199, 199, 199);
      @include var.adjustFontSizeMax(0.016);
      span {
        margin-left: 1vw;
        animation: respTitleAni 1s infinite;
        @include var.adjustFontSizeMax(0.016);
      }
    }
  }
  @keyframes respTitleAni {
    0% {
      color: rgba(199, 199, 199, 0.8);
    }
    50% {
      color: rgba(199, 199, 199, 0.5);
    }
    100% {
      color: rgba(199, 199, 199, 0.8);
    }
  }

  .modal_3_cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: hidden;
    .title {
      height: 13%;
      display: grid;
      place-content: center;
      font-family: "Pretendard-Regular";
      color: rgb(199, 199, 199);
      @include var.adjustFontSizeMax(0.016);
      margin-bottom: 2%;
    }
    .content {
      cursor: default;
      width: 100%;
      height: 87%;
      position: relative;
      overflow-y: scroll;
      div {
        box-sizing: border-box;
        width: 100%;
        padding: 3% 0;
        margin-bottom: 2px;
        background-color: rgba(37, 37, 37, 0.466);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        color: white;
        @include var.adjustFontSizeMax(0.012);

        font-family: "Montserrat-Regular", "Pretendard-Regular";
        span {
          margin-top: 0.5%;
          @include var.adjustFontSizeMax(0.01);
          color: rgba(200, 200, 200, 0.5);
        }
      }
      div:hover {
        background-color: rgba(100, 100, 100, 0.15);
        @include var.adjustFontSizeMax(0.014);
        span {
          @include var.adjustFontSizeMax(0.011);
        }
      }
    }
  }
}

.modal_content_4_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  // * {
  //   -ms-overflow-style: none; /* IE, MsEdge */
  //   scrollbar-width: none; /* Firefox */
  // }
  // *::-webkit-scrollbar {
  //   display: none; /* Chrome, Safari */
  // }
  > div {
    width: 45%;
    height: 100%;
    background: rgba(50, 50, 50, 0.1);
  }
  > div > span {
    font-family: "Montserrat-Regular";
    color: rgb(199, 199, 199);
    @include var.adjustFontSizeMax(0.016);
    margin-bottom: 2%;
    height: 10%;
    padding: 5%;
  }
  .modal_4_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  }
  .modal_4_right {
    display: flex;
    flex-direction: column;
    align-items: end;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: end;
    }
  }
  .content {
    height: 90%;
    overflow-y: scroll;
    padding: 0 5%;
    width: 100%;
    > span {
      cursor: default;
      padding: 5% 8%;
      @include var.adjustFontSizeMax(0.01);
      border-radius: 0.5vw;
      margin-bottom: 5%;
      background: rgba(43, 43, 43, 0.596);
      color: rgba(255, 255, 255, 0.644);
      font-family: "Montserrat-Light";
      box-sizing: border-box;
    }
  }
}

.modal_content_5_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    aspect-ratio: 3/2;
    // border-radius: 2vw;
    @include var.adjustFontSizeMax(0.05);
    color: rgba(255, 255, 255, 0.2);
    outline: 0.2vw solid rgba(200, 200, 200, 0.1);
    cursor: pointer;
  }
  > a:hover {
    color: rgba(255, 255, 255, 0.4);
    background: rgba(200, 200, 200, 0.1);
  }
  .left_button {
  }
  .right_button {
  }
}
