@use 'var.scss';

#page_works {
  width: var.$screenW;
  height: var.$screenH;
  position: relative;
  box-sizing: border-box;
  background-color: #e6decf6e;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 3% 3% 3%;
}

#page_works_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container_texts {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  * {
    @include var.tempborder(blue);
    width: 100%;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .text_pj_top_container {
    height: 30%;
    justify-content: space-between;

    .text_pj_type {
      height: 15%;
      font-family: 'Montserrat-MediumItalic';
      @include var.adjustFontSizeMax(0.012);
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
    }

    .text_pj_title {
      height: 60%;
      font-family: 'Montserrat-Bold';
      @include var.adjustFontSizeMax(0.04);
    }
    .text_pj_period {
      height: 20%;
      font-family: 'Montserrat-Regular';
      @include var.adjustFontSizeMax(0.012);
    }
  }
  .text_pj_bottom_container {
    height: fit-content;
    justify-content: space-between;
    min-height: 30%;

    .text_pj_about_title {
      height: fit-content;
      font-family: 'Pretendard-Regular';
      @include var.adjustFontSizeMax(0.018);
    }

    .text_pj_about_explain {
      height: fit-content;
      font-family: 'Pretendard-Light';
      @include var.adjustFontSizeMax(0.014);
    }

    .text_pj_link {
      all: unset;
      height: 15%;
      font-family: 'Montserrat-Italic';
      @include var.adjustFontSizeMax(0.012);
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      cursor: pointer;
    }
  }
}

#container_images {
  max-width: 45%;
  height: 100%;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;

  @include var.tempborder(blue);
}

.images_2d_box {
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  // object-fit: contains;

  @include var.tempborder(green);

  .images_2d_content {
    // max-height: 100%;
    height: 100%;
  }
}
.shrink_images {
  width: 30%;

  .images_2d_box {
    width: 90%;
    height: 90%;
    border-radius: var.$screenW * 0.5;
    filter: opacity(60%) contrast(40%);
  }
  .images_3d_box {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.spread_images {
  width: 43%;

  .images_2d_box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .images_3d_box {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}

.images_3d_box {
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: end;
  // object-fit: contains;

  @include var.tempborder(red);

  .images_3d_content {
    @include var.tempborder(white);
    max-width: 80%;
    max-height: 80%;
    filter: brightness(150%);
  }

  .images_3d_shadow {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    @include var.tempborder(green);
  }
}

#container_menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  * {
    @include var.tempborder(white);
  }

  .menu_index {
    height: 10%;
    width: 100%;
    font-family: 'Montserrat-Regular';
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    @include var.adjustFontSizeMax(0.012);
  }

  .menu_list {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-Regular';
    @include var.adjustFontSizeMax(0.01);

    .menu_list_item {
      margin: 3% 0%;
    }
  }

  .menu_buttons {
    height: 20%;
    width: 100%;
  }
}
