@use 'var.scss';

#page_works {
  width: var.$screenW;
  height: var.$screenH;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 6%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

#works_container {
  width: 70%;
  height: 75%;
  display: flex;
  align-items: center;

  @include var.tempborder(white);
}

.works_flows_box {
  width: 60%;
  height: 100%;
  @include var.tempborder(blue);
}

.works_menu_box {
  width: 40%;
  height: 100%;
  @include var.tempborder(red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .works_menu_top {
    height: 60%;
    width: 100%;
    @include var.tempborder(green);
  }

  .works_menu_bottom {
    height: 40%;
    width: 100%;
    @include var.tempborder(white);
    .menu_bottom_box {
      position: relative;
    }
  }
}
